@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

$baseFont: "Poppins", sans-serif;
$borderColor: rgba(128, 128, 128, 0.949);
$green: #1aa260;
$red: #cd5b45;
$blue: #4285f4;
$borderRadius: 5px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: $baseFont;
  display: grid;
  place-content: center;
  font-size: 1.6rem;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;

  &-logo {
    font-size: 5rem;
    color: $blue;
  }
  &-header {
    @include flexCenter;
    gap: 1rem;
    color: $blue;
  }

  &-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
    padding: 0.5rem;
    color: rgb(80, 80, 80);
  }

  &-btn {
    color: $red;
    font-size: 2.2rem;
    cursor: pointer;
  }
}

.form {
  &-input {
    outline: none;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.7rem;
    font-size: 1.7rem;
    color: gray;

    &:focus {
      box-shadow: 0.5px 0 7px $blue;
    }
  }

  &-btn {
    border: none;
    background-color: $green;
    padding: 1rem;
    border-radius: $borderRadius;
    color: white;
    @include flexCenter;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.filter {
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  padding: 0.6rem;

  &-i {
    font-size: 1.7rem;
    @include flexCenter;
  }

  &-input {
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: rgb(80, 80, 80);
  }
}

.clear-btn {
  background: $red;
  outline: none;
  border: none;
  padding: 0.7rem;
  border-radius: $borderRadius;
  color: white;
  font-weight: bold;
}

.warning {
  color: $red;
  font-size: 1.4rem;
}
